#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #242121;
}

.todo_list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1 {
  font-size: 4em;
  color: #fff;
}

button {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 5px;
  border: 2px solid #61dafb;
  background-color: white;
  color: #61dafb;
  cursor: pointer;
}
button:hover {
  background-color: #61dafb;
  color: white;
}

input[type="text"] {
  font-size: 1.6rem;
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid #61dafb;
  border-radius: 5px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #21a1f1;
  box-shadow: 0 0 5px #21a1f1;
}

ol {
  list-style: none;
  padding: 0;
}

li {
  font-size: 1.5em;
  margin: 0.5em 0;
  padding: 0.5em;
  border-bottom: 1px solid #cccccc;
  display: flex;
  align-items: center;
}
li:nth-child(odd) {
  background-color: #f9f9f9; 
}
li:nth-child(even) {
  background-color: #e9e9e9; 
}

.text{
  flex: 1;
}


